.phonebook {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
  }
  
  .input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
  
    font-size: 16px;
    border: 2px solid black;
    border-radius: 20px;
    outline: none;
    transition: box-shadow 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .input:focus {
    box-shadow: 0px 0px 3px 2px #80B4F1;
    border-color: #80B4F1;
  }
  
  .title {
    margin-bottom: 20px;
  }